@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500&display=swap');

body {
  margin-top: 20px;
  font-family: 'Commissioner';
  font-weight: 400;
  background-color: #F5F7FB;
}

#thead {
  background-color: #F5F7FB;
  font-size: 12px;
  font-weight: 500;
  border-style: hidden;
}


.table>:not(:first-child) {
  border-top: none;
}

.user_table {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  text-align: center; 
  font-size: 12px;
  border-radius: 15px; 
}

table th:first-child{
  border-radius:15px 0 0 15px;
}

table th:last-child{
  border-radius:0 15px 15px 0;
}

tbody tr:first-child {
  border-style: none;
}
